*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body{
    
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.regform{
    width: 500px;
    margin: 250px auto;
    background-color: black;
    opacity: 0.8;
    color: white;
    padding: 10px 20px 30px;
    border-radius: 8px;
    
}

.regform h3{
    text-align: center;
    color: aqua;
    font-size: 23px;
   
}

.regform .textlabel{
    display: block;
    color: tomato;
    padding: 10px 5px 10px; 
    font-size: 25px;
   
    
}

.regform .box{
  
   border: 1px solid white;
    
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    font-size: 20px;
    color: black;
}

.regform .radio{
    margin-top: 18px;
    
    cursor: pointer;
    
}

.regform .gender{
    color: tomato;
    margin-top: 10px;
}

.btn{
    text-align: center;
    
}

.submitbtn{
    color: aqua;
    font-size: 15px;
    cursor: pointer;
    margin: 10px auto;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: burlywood;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    width: 100%;
}

.submitbtn:hover{
    background-color: tomato;
}

#red{
    color: red;
}

#green{
    margin-left: 200px;
    font-size: 25px;
    font-weight: 400;
}

.p{
    color: gray;
    margin-left: 20px;
    font-size: 20px;
}

#checkbox{
    background-color: red;
}